const App = () => (
  <Router>
    <Layout>
      <Header />
      <Match exactly pattern="/" component={Home} />
      <Match pattern="/topics" component={Topics} />
      <Footer />
    </Layout>
  </Router>
)

const Topics = () => (
  <Content>
    <Match pattern={props.pathname} component={TopicList} />
    <Match pattern={`${props.pathname}/:id`} component={TopicList} />
  </Content>
)
